/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/*
/vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
composer.lock
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.scribe
.scribe
.rnd
/docker-compose.yml
/vendor/
/vendor/composer/
vendor
/storage/app/*
!/storage/app/analytics/service-account-credentials.json
docs.txt
